<%= content_tag :div, id:"header" do %>
  <%= content_tag :h1, "check out my mixtape." %>
  <%= content_tag :p, "Here are some of my dope tracks for your listening pleasure."%>
<% end %>
<%= content_tag :div, id:"tracks-box" do %>
  <%= content_tag :div, id:"loading-box" do %>
    <%= content_tag :p, "loading a fresh mixtape for you, fam." %>
    <%= image_tag "spinner.gif" %>
  <% end %>
  <%= content_tag :div, "", id:"soundcloud-box" %>
  <div class="center">
    <%= content_tag :button, "Refresh", id:"refresh-button" %>
  </div>
<% end %>
